@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  /* font sizes */
  --fs-1: 3.052rem;
  --fs-2: 2.441rem;
  --fs-3: 1.953rem;
  --fs-4: 1.563rem;
  --fs-5: 1.25rem;
  --fs-p: 1rem;
  --fs-6: 0.8rem;

  /* font families */
  --ff-title: 'Oswald', sans-serif;
  --ff-txt: 'Quicksand', sans-serif;

  /* colors */
  --clr-primary: #af0404;
  --clr-secondary: #414141;
  --clr-txt: #eeeeee;
  --clr-bg: #252525;
  --clr-accent: #ff0000;
}

* {
  box-sizing: border-box;
  /* outline: 1px dashed red; */
}

body {
  background-color: var(--clr-bg);
}

.container {
  margin: 0 5rem;
}

header {
  display: flex;
  align-items: center;
  font-family: var(--ff-txt);
  color: var(--clr-txt);
}

header > * {
  flex: 1;
}

.header-left__logo {
  width: fit-content;
  display: block;
  font-size: var(--fs-4);
  font-family: var(--ff-title);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-txt);
  text-decoration: none;
  padding: 1.25em 0;
}

.header-right__nav {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.header-right__nav a {
  display: block;
  font-size: var(--fs-p);
  color: var(--clr-txt);
  text-decoration: none;
  padding: 0.75em 1em;
  position: relative;
}

.header-right__nav a:after {
  content: '';
  width: 0;
  height: 0.1rem;
  background-color: var(--clr-accent);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.25s ease;
}

.header-right__nav a:hover:after {
  width: 100%;
}

.header-right__nav a.active:after {
  width: 100%;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  font-family: var(--ff-txt);
  color: var(--clr-txt);
}

.hero > * {
  flex: 1;
}

.hero-left__title {
  font-size: var(--fs-1);
  font-family: var(--ff-title);
  font-weight: 700;
  padding: 0.25em 0;
}

.hero-left__tagline {
  width: 30ch;
  font-size: var(--fs-4);
  margin-bottom: 1.25em;
}

.highlight {
  color: var(--clr-accent);
}

.hero-left__btn {
  font-size: var(--fs-p);
  font-family: var(--ff-txt);
  color: var(--clr-txt);
  background-color: var(--clr-primary);
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  transition-property: background, box-shadow, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

.hero-left__btn:hover,
.propo-right__btn:hover {
  background-color: var(--clr-accent);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  transform: translateY(-0.25rem);
}

.hero-right img {
  display: block;
  max-width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

.feat {
  font-family: var(--ff-txt);
  color: var(--clr-txt);
  background-color: var(--clr-secondary);
  box-shadow: 0 0 0 100vmax #414141;
  clip-path: inset(0 -100vmax);
  padding: 3rem 0;
}

.feat__title {
  font-size: var(--fs-2);
  font-family: var(--ff-title);
  font-weight: 700;
  text-align: center;
  padding: 0.25em 0;
  margin-bottom: 0.75em;
}

.feat__cards {
  display: flex;
  gap: 1rem;
}

.feat__cards > * {
  flex: 1;
}

.feat__cards img {
  display: block;
  max-width: 100%;
  border-radius: 0.25em;
  margin-bottom: 1rem;
}

.card__txt {
  text-align: center;
}

.quote {
  color: var(--clr-txt);
  padding: 3rem 0;
}

.quote__txt {
  font-size: var(--fs-2);
  font-family: var(--ff-txt);
  font-style: italic;
  padding: 1em 0;
  position: relative;
}

.quote__quotee {
  display: block;
  font-size: var(--fs-4);
  font-family: var(--ff-txt);
  text-align: right;
}

.proposition {
  display: flex;
  align-items: center;
  color: var(--clr-txt);
  background-color: var(--clr-secondary);
  padding: 2rem;
  border-radius: 0.25rem;
  margin-bottom: 3rem;
}

.proposition > * {
  flex: 1;
}

.propo-left {
  flex: 2;
}

.propo-left__title {
  font-size: var(--fs-2);
  font-family: var(--ff-title);
  font-weight: 700;
  padding: 0.5em 0;
}

.propo-left__txt {
  font-family: var(--ff-txt);
  line-height: 1.5em;
}

.propo-right {
  display: flex;
  justify-content: flex-end;
}

.propo-right__btn {
  font-size: var(--fs-p);
  font-family: var(--ff-txt);
  color: var(--clr-txt);
  background-color: var(--clr-primary);
  padding: 0.75em 1em;
  border: none;
  border-radius: 0.25em;
  transition-property: background, box-shadow, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
}

footer {
  background-color: var(--clr-primary);
  padding: 0.5rem 0;
  box-shadow: 0 0 0 100vmax var(--clr-primary);
  clip-path: inset(0 -100vmax);
}

.footer__txt {
  font-size: var(--fs-6);
  font-family: var(--ff-txt);
  text-align: center;
  color: var(--clr-txt);
}

.github-icon {
  color: var(--clr-txt);
  transition: transform 0.25s ease;
}

.github-icon:hover {
  transform: scale(1.25);
}
